.scrollBox {
  max-height: 300px; /* nach Geschmack: 120–240px */
  overflow-y: auto;
  padding-right: 6px; /* Platz für Scrollbar */
}

.scrollBoxSmall {
  max-height: 120px;
  overflow-y: auto;
  padding-right: 6px;
}
